body {
    font-family: "Comic Sans MS", sans-serif;
    background: #FFF0CB;
    text-align: center;
    padding: 30px;
}

h1 {
    color: black;
}

input {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 180px;
    height: 25px;
    text-align: center;
}

.students {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.student {
    background: #549D5F;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    width: 200px;
    cursor: pointer;
}

.student:hover {
    background: #FFE047;
    transform: scale(1.05);
}