<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Varjupaik</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Avaleht</a></li>
                <li class="nav-item"><a class="nav-link" href="/loomad">Loomad</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Meist</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>
