<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<h1>404 - Lehte ei leitud</h1>
<p>Sellist lehte ei eksisteeri.</p>
<a href="/">Tagasi avalehele</a>
</body>
</html>
