<form action="/news/create" method="POST">
    <input type="text" name="title" placeholder="Pealkiri"><br>
    <textarea name="content" placeholder="Sisu"></textarea><br>
    <button type="submit">Salvesta</button>
</form>

