<!DOCTYPE html>
<html lang="et">
<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>

<div class="container my-4 text-center">
    <h1>404 - Lehte ei leitud</h1>
    <p>Vabandame, sellist lehte ei eksisteeri.</p>
    <a href="/" class="btn btn-primary mt-3">Tagasi avalehele</a>
</div>

<%- include('includes/footer') %>
</body>
</html>
