<!DOCTYPE html>
<html lang="et">
<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>

<div class="container my-4">
    <h1>Meist</h1>
    <p>Tere tulemast meie loomade varjupaiga veebilehele! Me hoolitseme loomade eest ja aitame leida neile uued kodud.</p>
</div>

<%- include('includes/footer') %>
</body>
</html>
