<!DOCTYPE html>
<html lang="et">
<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>

<div class="container my-4">
    <h1>Kontakt</h1>
    <p>Võta meiega ühendust e-posti aadressil <strong>info@varjupaik.ee</strong> või telefoni teel <strong>+372 5555 5555</strong>.</p>
</div>

<%- include('includes/footer') %>
</body>
</html>
