<!DOCTYPE html>
<html lang="et">
<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>

<main class="container my-4 text-center">
    <h1>404 - Lehte ei leitud</h1>
    <p>Otsi midagi muud või mine <a href="/">avalehele</a>.</p>
</main>

<%- include('includes/footer') %>
</body>
</html>
