<!DOCTYPE html>
<html lang="et">
<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>

<main class="container my-4">
    <h1>Meist</h1>
    <p>Siin on info meie ettevõtte või projekti kohta.</p>
</main>

<%- include('includes/footer') %>
</body>
</html>
