<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">MinuSait.ee</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/">Avaleht</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Meist</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>
